*   {
    margin: 100;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    color: black;
    background-color: black;
    //background-image: url("../img/bg.jpg");
}

